# this file should be tracked by the parent repo but NOT by the template repo
# so you can avoid committing into the template repo the words which you are trying to ensure don't get committed to the template repo
# for instance, in an app called soccer with a template called sports, you could add soccer to the ignore patterns
# also see untracked-template-config.env
# there are three configs:
#   template-config.env - tracked by both app and template, lowest priority
#   semitracked-template-config.env - tracked by app and untracked by template, medium priority   put app-specific but not 100% secret stuff here
#   untracked-config.env - totally untracked, highest priority
# when we actually do the check, we join PREVENT_COMMIT_FILE_PATTERNS_1 and PREVENT_COMMIT_FILE_PATTERNS_2 into PREVENT_COMMIT_FILE_PATTERNS
# use these to extend the patterns
PREVENT_COMMIT_FILE_PATTERNS_2="soccer"
PREVENT_COMMIT_CONTENT_PATTERNS_2="soccer"