# ______________________________________________________________________________________________________________________
# Basics
# ______________________________________________________________________________________________________________________
# What is your project?
TEMPLATE_NAME=sport
TEMPLATE_DESC="a sport template built from the geet-soccer-app"
TEMPLATE_TOPICS="geet,template,"
TEMPLATE_HOMEPAGE=""


TEMPLATE_FILE_SUFFIX=".template"

# ______________________________________________________________________________________________________________________
# REPO LOCATION
# ______________________________________________________________________________________________________________________
# Where is the repo? (this should get autopopulated when you run 'geet template', but you can fix it here)
TEMPLATE_GH_USER=modularizer
TEMPLATE_GH_NAME=sport
TEMPLATE_GH_URL=https://github.com/modularizer/sport
TEMPLATE_GH_SSH=git@github.com:modularizer/sport.git
TEMPLATE_GH_HTTPS=https://github.com/modularizer/sport.git

# ______________________________________________________________________________________________________________________
# Configuring Help Text
# ______________________________________________________________________________________________________________________
# Is there an alias to your /path/to/.$TEMPLATE_NAME/geet.sh?
# maybe you added to package.json or something like that
# update it here to update the CLI docs and help text
GEET_ALIAS="geet"

# also use in help text thorughout the CLI
DD_APP_NAME=MyApp
DD_TEMPLATE_NAME=sport


# ______________________________________________________________________________________________________________________
# Configuring Precommit
# ______________________________________________________________________________________________________________________
PREVENT_COMMIT_FILE_PATTERNS=".*secret.*"

# Prevent committing content matching these patterns (pipe-delimited regex)
PREVENT_COMMIT_CONTENT_PATTERNS="API_KEY=|SECRET_KEY=|password:\\s*[\"'].*[\"']|TODO.*remove.*template|CUSTOMER_ID=|stripe_live_key"